@import "tailwindcss";

.text{
  color: #9b3e08;
  color: #0e0e0f;
  color: #f3ecda;
}

@font-face {
  font-family: birch;
  src: url("./assets/Birch_Std_Regular/Birch_Std_Regular.ttf");
}

@font-face {
  font-family: fujifilm;
  src: url("./assets/Fujifilm/Fujifilm-Regular.ttf");
}

@font-face {
  font-family: calligraphic;
  src: url("./assets/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf");
}

@font-face {
  font-family: share-tech;
  src: url("./assets/Share_Tech/ShareTech-Regular.ttf");
}

@font-face {
  font-family: open-sans;
  src: url("./assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: mukta;
  src: url("./assets/Mukta/Mukta-Regular.ttf");
}


